/* General styles */
body, h1, h2, nav, footer {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
}

header {
    background-color: #252525;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 36px;
    margin-left: 20px;
}

nav {
    display: none;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
}

nav a:hover {
    color: lightgray;
}

.hamburger {
    font-size: 24px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    display: block;
}

main {
    padding: 20px;
}

.temple-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.temple-gallery h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.temple-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px;
}

.temple-card img {
    width: 100%;
    max-width: 100%;
    border-radius: 8px;
    display: block;
}

.temple-card figcaption {
    margin-top: 10px;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

/* Media queries for smaller screens */
@media (max-width: 768px) {
    nav.show {
        display: block;
    }

    main {
        max-width: 600px;
        margin: 0 auto;
    }
}
